header{
    max-width: 100%;
    height: 64px;
    background-color: #fff;
    box-shadow: 0px 3px 12px rgba(12, 16, 21, 0.24);
    z-index: 100;
    position: relative;
}

.header-container{
    padding: 18px;
}

.header-container-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container-links h1{
    margin-top: 0;
    font-size: 24px;
    color: #363e48;
}

@media (max-width: 714px){
    .header-container-links h1{
        font-size: 17px;
    }
}

.header-container-links i{
    font-size: 22px;
}

img{
    margin-top: 2px;
    width: 80px;
}